request_workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Response": {
                "type": "Response",
                "kind": "Http",
                "inputs": {
                    "statusCode": 200,
                    "headers": {
                        "test-version": "2",
                        "test value": "@{triggerBody()?['upn']}"
                    },
                    "body": "@body('Call_VID')"
                },
                "runAfter": {
                    "Insert_or_Merge_Entity_(V2)": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Acquire_access_token": {
                "type": "Http",
                "inputs": {
                    "uri": "https://login.microsoftonline.com/@{parameters('TenantId')}/oauth2/v2.0/token",
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/x-www-form-urlencoded"
                    },
                    "body": "grant_type=client_credentials&client_id=@{parameters('ClientId')}&client_secret=@{parameters('ClientSecret')}&scope=@{parameters('Scope')}"
                },
                "runAfter": {},
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "Parse_token_JSON": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@body('Acquire_access_token')",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "token_type": {
                                "type": "string"
                            },
                            "expires_in": {
                                "type": "integer"
                            },
                            "ext_expires_in": {
                                "type": "integer"
                            },
                            "access_token": {
                                "type": "string"
                            }
                        }
                    }
                },
                "runAfter": {
                    "Acquire_access_token": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Call_VID": {
                "type": "Http",
                "inputs": {
                    "uri": "https://verifiedid.did.msidentity.com/v1.0/verifiableCredentials/createPresentationRequest",
                    "method": "POST",
                    "body": {
                        "authority": "@{parameters('DidAuthority')}",
                        "includeQRCode": false,
                        "registration": {
                            "clientName": "Woodgrove helpdesk",
                            "purpose": "Prove your identity"
                        },
                        "callback": {
                            "url": "https://woodgrove.com/api/verifier/presentationcallback",
                            "state": "@{triggerBody()?['upn']}",
                            "headers": {
                                "api-key": "@{parameters('ApiKey')}"
                            }
                        },
                        "includeReceipt": false,
                        "requestedCredentials": [
                            {
                                "type": "VerifiedEmployee",
                                "acceptedIssuers": [
                                    "@{parameters('DidAuthority')}"
                                ],
                                "configuration": {
                                    "validation": {
                                        "allowRevoked": false,
                                        "validateLinkedDomain": true
                                    }
                                },
                                "constraints": [
                                    {
                                        "claimName": "revocationId",
                                        "values": [
                                            "@{triggerBody()?['upn']}"
                                        ]
                                    }
                                ]
                            }
                        ]
                    },
                    "authentication": {
                        "type": "Raw",
                        "value": "Bearer @{body('Parse_token_JSON')?['access_token']}"
                    }
                },
                "runAfter": {
                    "Parse_token_JSON": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "Insert_or_Merge_Entity_(V2)": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "azuretables"
                        }
                    },
                    "method": "patch",
                    "body": {
                        "status": "request_created",
                        "message": "Waiting for the user to open the notification.",
                        "url": "@{body('Parse_VID_response_JSON')?['url']}"
                    },
                    "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/tables/@{encodeURIComponent('Sate')}/entities(PartitionKey='@{encodeURIComponent('State')}',RowKey='@{encodeURIComponent(triggerBody()?['upn'])}')"
                },
                "runAfter": {
                    "Parse_VID_response_JSON": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Parse_VID_response_JSON": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@body('Call_VID')",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "requestId": {
                                "type": "string"
                            },
                            "url": {
                                "type": "string"
                            },
                            "expiry": {
                                "type": "integer"
                            }
                        }
                    }
                },
                "runAfter": {
                    "Call_VID": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "Presentation_HTTP_endpoint_start": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "method": "POST",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "upn": {
                                "type": "string"
                            },
                            "phone": {
                                "type": "string"
                            }
                        }
                    }
                },
                "operationOptions": "EnableSchemaValidation"
            }
        }
    },
    "kind": "Stateful"
}
