Azure-Logic-app/Callback/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Response": {
                "type": "Response",
                "kind": "Http",
                "inputs": {
                    "statusCode": 200
                },
                "runAfter": {
                    "Insert_or_Merge_Entity_(V2)": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Insert_or_Merge_Entity_(V2)": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "azuretables"
                        }
                    },
                    "method": "patch",
                    "body": {
                        "status": "@{triggerBody()?['requestStatus']}",
                        "message": "@variables('Message')"
                    },
                    "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/tables/@{encodeURIComponent('State')}/entities(PartitionKey='@{encodeURIComponent('State')}',RowKey='@{encodeURIComponent('yoel@woodgrovecorp.onmicrosoft.com')}')"
                },
                "runAfter": {
                    "Switch": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Initialize_variable": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "Message",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {}
            },
            "Switch": {
                "type": "Switch",
                "expression": "@triggerBody()?['requestStatus']",
                "default": {
                    "actions": {}
                },
                "cases": {
                    "request_created": {
                        "actions": {
                            "Set_variable": {
                                "type": "SetVariable",
                                "inputs": {
                                    "name": "Message",
                                    "value": "Waiting for the user to open the notification."
                                }
                            }
                        },
                        "case": "request_created"
                    },
                    "request_retrieved": {
                        "actions": {
                            "Set_variable_1": {
                                "type": "SetVariable",
                                "inputs": {
                                    "name": "Message",
                                    "value": "The user has opened the notification. Awaiting completion of their verification."
                                }
                            }
                        },
                        "case": "request_retrieved"
                    },
                    "presentation_error": {
                        "actions": {
                            "Set_variable_2": {
                                "type": "SetVariable",
                                "inputs": {
                                    "name": "Message",
                                    "value": "Presentation failed: "
                                }
                            }
                        },
                        "case": "presentation_error"
                    },
                    "presentation_verified": {
                        "actions": {
                            "Set_variable_3": {
                                "type": "SetVariable",
                                "inputs": {
                                    "name": "Message",
                                    "value": "The user has successfully completed their verification process."
                                }
                            }
                        },
                        "case": "presentation_verified"
                    }
                },
                "runAfter": {
                    "Initialize_variable": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "HTTP_endpoint": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "method": "POST",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "requestId": {
                                "type": "string"
                            },
                            "requestStatus": {
                                "type": "string"
                            },
                            "state": {
                                "type": "string"
                            },
                            "verifiedCredentialsData": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "issuer": {
                                            "type": "string"
                                        },
                                        "type": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "claims": {
                                            "type": "object",
                                            "properties": {
                                                "displayName": {
                                                    "type": "string"
                                                },
                                                "preferredLanguage": {
                                                    "type": "string"
                                                },
                                                "revocationId": {
                                                    "type": "string"
                                                },
                                                "photo": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "credentialState": {
                                            "type": "object",
                                            "properties": {
                                                "revocationStatus": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "domainValidation": {
                                            "type": "object",
                                            "properties": {
                                                "url": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "expirationDate": {
                                            "type": "string"
                                        },
                                        "issuanceDate": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "issuer",
                                        "type",
                                        "claims",
                                        "credentialState",
                                        "domainValidation",
                                        "expirationDate",
                                        "issuanceDate"
                                    ]
                                }
                            },
                            "subject": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        }
    },
    "kind": "Stateful"
}